* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

body header {
    background-color: #FFE5F2;
    display: flex;
    border-bottom: #EC4899 1px solid;
    justify-content: center;
    align-items: center;
    color: #EC4899;
    padding: 0.5em 3em 0.5em 3em;
    min-height: 5em;
    gap: 10em;
}

body header .logoIcon {
    max-width: 50px;
    min-width: 20px;
}

body header .links {
    display: flex;
    justify-content: flex-start;
}

body header .links nav {
    display: flex;
    align-items: center;
}

body header .links nav ul {
    display: flex;
    list-style: none;
    gap: 5em;
}

body header .links nav ul li {
    min-width: 2em;
    max-height: 3em;
    width: 3em;
    display: flex;
}

body header .links nav ul li a {
    display: flex;
    text-decoration: none;
    color: #EC4899;
    font-weight: 700;
    line-height: 1.125em;
    align-items: center;
    text-align: center;
    gap: 0.35em;
}

body header .links nav ul li:nth-child(2) a span {
    padding-top: 0.3em;
}

body header .links nav ul li img:hover{
    transform: scale(1.1);
    transition: .75s;
}

body header .links nav ul li a span:hover {
    text-decoration: underline;
}

body header .links nav ul li .cartQty {
    display: none;
    position: relative;
    top: 65%;
    right: 60%;
    width: 100%;
    height: 60%;
    max-width: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border: 3px dashed #EC4899;
    border-radius: 100%;
    background: #EC4899;
    transition: none;
    line-height: 0;
}

body header .links nav ul li .cartQty span {
    color: #FFF;
    font-weight: 700;
    font-size: 0.75em;
}

body main {
    background-color: #FDF2F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bag {
    margin: 12px 0 12px 0;
    z-index: 1;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bag .bagHead {
    background-color: #EC4899;
    padding: 1em;
    width: 100%;
}

.bag .bagHead h1 {
    text-align: center;
    line-height: 1;
    color: #FFF;
    font-weight: 700;
}

.bag .emptyBag {
    display: flex;
    width: 100%;
    background-color: #FFF;
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid #EC4899;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}


.bag #bagList {
    display: flex;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #EC4899;
    flex-direction: column;
}

.bag .cartItem {
    display: flex;
    width: 100%;
    background-color: #FFF;
    padding: .5em 1.5em .5em 1.5em;
    flex-direction: row;
    border-bottom: 1px solid #EC4899;
}

.bag .cartItem img {
    border: 1px solid #EC4899;
    border-radius: 12px;
}

.bag .cartItem .info {
    display: grid;
    margin-left: 2em;
    width: 100%;
    grid-template: 
                "title price" 20%
                "selectcolor selectsizes" 70%
                "remover remover" 10%;
}

.bag .cartItem .info > div {
    border: 1px solid #EC4899;
}

.bag .cartItem .info .title {
    display: flex;
    grid-area: title;
    font-weight: 600;
}

.bag .cartItem .info .price {
    display: flex;
    justify-content: center;
    grid-area: price;
}

.bag .cartItem .info .selectcolor {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: selectcolor;
    justify-content: space-around;
}

.bag .cartItem .info .selectcolor .colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.5em;
}

.bag .cartItem .info .selectcolor .colors > div {
    display: flex;
    align-items: center;
    gap: 0.35em;
}

.selectcolor .colors .white #white,
.selectcolor .colors .black #black,
.selectcolor .colors .orange #orange,
.selectcolor .colors .pink #pink {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    border: 1px solid #000;
    margin-bottom: 0.125em;
}

.white #white:hover,
.black #black:hover,
.orange #orange:hover,
.pink #pink:hover {
    transform: scale(1.125);
    transition: all .3s;
    cursor: pointer;
}

.white #white:checked + label {
    text-decoration: underline;
}

.black #black:checked + label {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.orange #orange:checked + label {
    color: #db732d;
    font-weight: bold;
    text-decoration: underline;    
}

.pink #pink:checked + label {
    color: #EC4899;
    font-weight: bold;
    text-decoration: underline;    
}

.bag .cartItem .info .selectsizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: selectsizes;
    justify-content: space-around;
}

.bag .cartItem .info .selectsizes .sizes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.5em;
}
.bag .cartItem .info .selectsizes .sizes div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.35em;
}

#p,
#m,
#g,
#gg {
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    border: 1px solid #000;
    margin-bottom: 0.125em;
}

#p:hover,
#m:hover,
#g:hover,
#gg:hover {
    transform: scale(1.125);
    transition: all .3s;
    cursor: pointer;
}

.sizes input:checked + label {
    font-weight: bold;
}

.bag .cartItem .info .remove {
    border: none;
    display: flex;
    grid-area: remover;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    gap: 0.25em;
    cursor: pointer;
    color: #ff0000c5;
}

.bag .cartItem .info .remove img {
    border: none;
    border-radius: none;
}

.bag .cartItem .info .remove:hover {
    color: #ff0000;
    text-decoration: underline;
}

.confirmation {
    margin: 12px 0 12px 0;
    z-index: 1;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmation .head {
    background-color: #EC4899;
    padding: 1em;
    width: 100%;
}

.confirmation .head h1 {
    text-align: center;
    line-height: 1;
    color: #FFF;
    font-weight: 700;
}

body footer {
    background: #EC4899;
    min-height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

body footer .lastlinks ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
}

body footer .lastlinks ul li a{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
}

body footer .lastlinks ul li a img {
    width: 2.5em;
    margin-right: 0.2em;
}

body footer .lastlinks ul li p {
    padding-top: 0.5em;
    color: #FFF;
    font-weight: 400;
}

body footer .lastlinks ul li p:hover {
    text-decoration-line: underline;
}

body .fade {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

body main .loginModal {
    display: none;
}

body main .loginModalVisible {
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 270px;
    height: fit-content;
    align-items: center;
    border: 3px solid #EC4899;
    border-radius: 2em;
    background-color: #FDF2F8;
    position: absolute;
    top: 15%;
    bottom: 15%;
    z-index: 11;
}

body main .loginHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

body main .loginHead .logoIcon {
    max-width: 50px;
    width: 100%;
    margin-left: 46%;
}

body main .loginHead .btnCloseLoginModal {
    width: 3em;
    height: 3em;
    display: flex;
    border-radius: 100%;
    margin: 0.5em 0.5em 0 0;
}

body main .loginHead .btnCloseLoginModal button {
    border: none;
    background-color: #FDF2F8;
    border-radius: 100%;
    color: #EC4899;
    font-size: 120%;
    height: 100%;
    width: 100%;
}

body main .loginHead .btnCloseLoginModal button:hover {
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1.2);
}

body main div h2 {
    font-weight: 700;
    font-size: 1.2em;
    color: #EC4899;
}

body main .loginForm {
    width: 90%;
}

body main .loginForm form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

body main .loginForm form fieldset label {
    height: 4.5em;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

body main .loginForm form fieldset label div {
    background-color: #FFF;
    border: 1px solid #EC4899;
    display: flex;
    height: 100%;
    align-items: center;
}

body main .loginForm form fieldset label div img {
    padding: 0 12px;
}

body main .loginForm form fieldset label:nth-child(3) {
    height: 1em;
    align-items: center;
    gap: 0.5em;
}

body main .loginForm form fieldset label input {
    border: none;
    height: 60%;
    width: 100%;
    color: #EC4899;
    outline: none;
}

body main .loginForm form fieldset label legend {
    color: #EC4899;
    font-weight: 600;
    width: 100%;
}

body main .loginForm form fieldset .remember {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 0.6em;
}

body main .loginForm form fieldset .remember input {
    width: 2em;
    height: 2em;
}

body main .loginForm form fieldset .remember legend {
    color: #EC4899;
    font-weight: 600;
    width: 100%;
}

body main .loginBtn {
    height: 3em;
    width: 20%;
    min-width: 80px;
    max-width: 100px;
    min-height: 45px;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

body main .loginBtn button {
    height: 100%;
    width: 100%;
    font-family: 'Moul', cursive;
    background-color: #EC4899;
    color: #FFF;
    font-size: 0.95em;
    border-radius: 4px;
    border: 1px solid #EC4899;
}

body main .loginBtn button:hover {
    color: #EC4899;
    background-color: #FFF;
    border: 1px solid #EC4899;
}

body main .loginLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

body main .loginLinks a {
    color: #EC4899;
    text-decoration: none;
}

body main .loginLinks a:hover {
    text-decoration: underline;
}

body main .sizeChartModal {
    display: none;
}

body main .sizeChartModalVisible {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    min-width: 270px;
    height: 70%;
    align-items: center;
    border: 3px solid #EC4899;
    border-radius: 2em;
    background-color: #FDF2F8;
    top: 12.7%;
    right: 0em;
    z-index: 10;
}

body main .sizeChartHead {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: fit-content;
    column-gap: 5em;
    margin-top: 0.5em;
}

body main .sizeChartHead .btnCloseSizeChartModal {
    width: 3em;
    height: 3em;
    display: flex;
    border-radius: 100%;
    margin-left: 0.3em;
}

body main .sizeChartHead .btnCloseSizeChartModal button {
    border: none;
    background-color: #FDF2F8;
    border-radius: 100%;
    color: #EC4899;
    font-size: 120%;
    height: 100%;
    width: 100%;
}

body main .sizeChartHead .btnCloseSizeChartModal button:hover {
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1.2);
}

body main .sizeChartModalVisible h2 {
    font-weight: 700;
    font-size: 1.5em;
    color: #EC4899;
    font-family: 'Moul', cursive;
}

body main .sizeChartModalVisible h1 {
    font-family: 'Send Flowers', cursive;
    font-weight: 600;
}

body main .title {
    display: flex;
    justify-content: center;
}

body main .topAndBrallet,
body main .underwear {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #EC4899;
}

body main .topAndBrallet {
    margin-bottom: 1.5em;
}

body main .sizes {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    gap: 2em;
}

body main .sizes span {
    font-weight: 700;
}

body main .sizes ul {
    list-style: none;
    font-size: 1.25em;
}

body main .sizes > div {
    display: flex;
    flex-direction: column;
}

@media (max-width:1008px) {
    body header {
        justify-content: space-evenly;
    }

    body header .links {
        justify-content: flex-end;
    }

    body header .links li a img {
        min-width: 48px
    }

    body header .links nav ul li a span {
        display: none;
    }

    body header .links nav ul {
        gap: 1em;
    }
}

@media (max-width:745px) {
    body header .links nav ul {
        max-height: min-content;
        justify-content: center;
    }
}

@media (max-width:650px) {
    body footer .lastlinks ul li p {
        display: none;
    }
}

@media (max-width:500px) {
    body header {
        justify-content: space-between;
        padding: 0 1em;
    }

    body header .links nav ul li {
        min-width: 30px;
        width: 2.5em;
    }
}