* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFE5F2;
}

header {
    display: flex;
    max-height: 112px;
    max-width: 100vw;
    background-color: #FFE5F2;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    justify-content: center;
    text-align: center;
    border-bottom: #FC2597 1px solid;
    position: relative;
    text-decoration: none;
}

h2 {
    white-space:nowrap;
}

header .search {
    display: flex;
    width: 700px;
    height: 55px;
    justify-content: center;
    align-items: center;
}

header .search h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 53px;
    color: #FC2597;
    text-transform: uppercase;
}

header .search #search_box{
    font-family: 'Mukta', sans-serif;
    border-radius: 7px;
    width: 450px;
    height: 53px;
    border: 1px #FC2597 solid;
}

header .search #search_button {
    background:#FC2597;
    color: #FFFFFF;
    height: 53px;
    width: 53px;
    border-color: #FFFFFF;
    border-radius: 50px;
    font-size: 18px;
}

#search_button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

header p {
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    color: #FC2597;
}

header .nav_links {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-left: 30px;
}

header .nav_links nav img {
    margin: 0 10px;
}

.nav_links nav img:hover {
    cursor: pointer;
    border: 3px solid #FFE5F2;
    border-radius: 12px
}

main {
    background-color: #FFE5F2;
    display: block;
    max-width: 100vw;
    height: 100vh;
    position: relative;
}

main .section {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 420px;
    justify-content: space-between;
    align-items: center;
    border-bottom: #FC2597 1px solid;
    contain: content;
}

main .section div {
    width: 393px;
    height: 420px;
}

main .section div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px #FC2597 ridge;
}

main .section div img:hover {
    box-shadow: 1px 1px 25px 1px #FC2597;
}

main .section .central {
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 300px;
}

main .section #central {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

main .usual #usual{
    align-items: center;
    height: 48px;
    width: 329px;
    display: flex;
    margin: 22px 0 0 67px;
    gap: 10px;
}

main .usual #usual p {
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

main .usual #usual #order {
    width: 178px;
    height: 44px;
    border: 1px solid #FC2597;
    background-color: #F4F4F469;
    font-size: 20px;
    font-weight: 400;
}

main .usual .products {
    display: block;
    max-width: 100vw;
    height: 100vh;
}

main .usual .products ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

main .usual .products ul li {
    width: 300px;
    height: 510px;
    margin: 0 20px;
}

main .usual .products ul li div {
    height: 100%;
    width: 100%;
}

main .usual .products ul li div img {
    width: 300px;
    height: 380px;
    object-fit: cover;
    border: 2px solid #FC2597;
    border-radius: 60px;
}

main .usual .products ul li div #product_name {
    height: 32px;
    width: 300px;
    font-size: 22px;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    color: #FC2597;
}

main .usual .products ul li div #product_price {
    height: 76px;
    width: 200px;
    border: 3px #455A6450 solid;
    border-radius: 64.5px;
    background-color: #ffffff15;
    margin: auto;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    color: #FC2597;
    text-align: center;
    padding: 2px;
    box-shadow: 2px 4px 2px 1px #00000050;
}

/* #teste1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

#teste1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

#teste1:hover {
    opacity: 1;
} */